.page-not-found {
    background-color: #5b08a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-not-found .card {
    background-color: #fff;
    color: #5b08a7;
    padding: 2em 4em;
    text-align: center;
}

.page-not-found .card h2 {
    margin-bottom: 1em;
}

.page-not-found .card .btn-voltar {
    background-color: #fff;
    color: #5b08a7;
    border: 1px solid #5b08a7;
    padding: 0.5em 1em !important;
    border-radius: 5px;
    text-decoration: none;
}

.page-not-found .card .btn-voltar:hover {
    background-color: #5b08a7;
    color: #fff;
    border: 1px solid #5b08a7;
    transition: .5s;
}